.container{
    position: sticky;
    top:40px;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.userimage{
    border-radius: 50%;
    object-fit: cover;
}

.userinfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username{
    font-weight: 500;
}

.usertitle{
    font-size: 12px;
    color: var(--textSoft);
    font-weight: 300;
}

.list{
    list-style: none;
}

.cat{
    font-size: 12px;
    color: var(--textSoft);
    font-weight: 300;
    margin-inline: 10px;
}